.calculadora {
  margin: 20px;
  padding: 20px;
  border: 1px solid #61dafb;
  border-radius: 5px;
  text-align: center;
  background-color: #282c34;
  color: #61dafb;
}

input {
  margin: 5px;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 5px 10px;
}

.operations-table, .actions-table, .history-table {
  margin: 10px auto;
  border-collapse: collapse;
  width: 100%;
}

.operations-table td, .actions-table td, .history-table td, .history-table th {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

label {
  color: #61dafb;
}

.result {
  margin-top: 20px;
}

.submitted-message {
  color: #20a6e4;
}

.history-table th {
  background-color: #20a6e4;
  color: black;
}
