.calculadora {
  margin: 20px;
  padding: 20px;
  border: 1px solid #61dafb; /* Azul */
  border-radius: 5px;
  text-align: center;
  background-color: #282c34;
  color: #61dafb; /* Azul */
}

input {
  margin: 5px;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #61dafb; /* Azul */
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #3498db; /* Azul mais escuro */
}

.operations-table, .actions-table, .history-table {
  margin: 10px auto;
  border-collapse: collapse;
  width: 100%;
}

.operations-table td, .actions-table td, .history-table td, .history-table th {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

label {
  color: #61dafb; /* Azul */
}

.result {
  margin-top: 20px;
}

.submitted-message {
  color: #61dafb; /* Azul */
}

.history-table th {
  background-color: #61dafb; /* Azul */
  color: black;
}

.history-table td button {
  background-color: #3498db; /* Azul mais escuro */
  color: white;
}

.history-table td button:hover {
  background-color: #61dafb; /* Azul */
}
